body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #352D39;
    width: 100%;
    /*-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

body p {
    font-size: 18px;
    transition: all .3s ease-in-out;
}

#circle {
    background-color: rgb(53, 45, 57);
    opacity: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(5% at 0% 0%);
    position: fixed;
    transition: all .5s ease-in-out;
    z-index: -100;
}

h1 {
    margin: auto auto 0 0;
    font-size: 4rem;
    font-family: 'Libre Baskerville', serif;
    transition: all .3s ease-in-out;
}

body h2,
#aboutUSPs h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 45px;
    margin: 3% 0 1%;
    transition: all .3s ease-in-out;
}

.profile h2 {
    color: #F9AC52;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 15%;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
    transition: all .5s ease-in-out;
}

#nav-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

nav button {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 20px;
    font-family: inherit;
    color: inherit;
    padding: 25px 75px;
    cursor: pointer;
}

#desktop-nav-elements {
    display: flex;
    flex-direction: row;
}

#mobile-nav-elements {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 0;
}

#hamburger-icon {
    width: 30px;
    order: 1;
    display: none;
    fill: #352D39;
    transition: all .4s ease-in-out;
}

nav button.contact {
    border: 3px solid #F9AC52;
    border-radius: 10px;
    margin: 0 0 0 20px;
}

nav button.contact:active,
nav button.contact:hover {
    background: #F9AC52;
    color: #fff;
    transition: .15s ease-in-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 3.5%;
    border-radius: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: #352D39;
    -webkit-transition: .4s;
    transition: transform .4s, box-shadow .1s;
    box-shadow: 1px 1px 5px -2px rgba(53, 45, 57, 0.3);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #F9AC52;
    -webkit-transition: .4s;
    transition: .4s;
}

input:hover+.slider {
    box-shadow: 3px 3px 5px -2px rgba(53, 45, 57, 0.5);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    box-shadow: inset -7px -5px 0px 1px #FEF0E9;
    background-color: #6E6362;
}

button,
.switch,
#hamburger-icon,
input,
textarea {
    outline: 0;
}

.portrait {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 5%;
}

.portrait img {
    max-width: 200px;
    border-radius: 100px;
    margin: 0 50px 0 0;
}

.about,
#projects,
#hire-me {
    padding: 2% 15%;
}

.profile {
    padding: 2% 0;
}

.portrait p {
    font-family: 'Libre Baskerville', serif;
}

.portrait p {
    margin: 20px 0 0;
}

#services {
    padding: 2% 15%;
    background: #f8f8f8;
}

#aboutUSPs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    transition: all .3s ease-in-out;
    padding: 1% 0;
    margin-bottom: 5%;
}

#aboutUSPs div {
    margin-bottom: 40px;
}

#aboutUSPs h3 {
    font-size: 2.2rem;
}

#aboutUSPs h3,
#hire-me h2 {
    color: #352D39;
}

#aboutUSPs h4 {
    font-size: 22px;
    margin: 0;
}

#aboutUSPs h4:after,
.portrait h1:after {
    content: '';
    height: 3px;
    width: 30%;
    margin: 10px 0 0;
    background: #F9AC52;
    display: block;
}

#projects {
    background: #fff;
    transition: all .5s ease-in-out;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-name {
    display: flex;
    align-items: center;
}

.company-name h3 {
    font-size: 1.1rem;
    margin: 0;
}

.r-card,
.g-card,
.y-card {
    border-radius: 5px;
    position: relative;
    margin-bottom: 5%;
}

.r-card,
.y-card {
    flex: 1 0 20%;
    max-width: 22%;
}

.g-card {
    flex: 1 0 41.3%;
    max-width: 44%;
}

.project-image {
    width: 100%;
    border-radius: 20px;
}

.card-text-email,
.card-text-page,
.card-text-app {
    color: #ffffff;
    position: absolute;
    bottom: 7px;
    border-radius: 20px;
    width: 90%;
    padding: 20px 5%;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
}

.card-text-email a,
.card-text-page a,
.card-text-app a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.card-text-email {
    background-color: rgb(240, 100, 73, 0.9);
}

.card-text-app {
    background-color: rgb(249, 172, 82, 0.9);
}

.card-text-page {
    background-color: rgb(142, 214, 198, 0.9);
}

.r-card:hover .card-text-email,
.g-card:hover .card-text-page,
.y-card:hover .card-text-app,
.r-card:active .card-text-email,
.g-card:active .card-text-page,
.y-card:active .card-text-app {
    opacity: 1;
}

.r-card:hover .card-text-email {
    opacity: 1;
}

.card-text-email img,
.card-text-page img,
.card-text-app img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 0 10px 0 0;
}

#hire-me {
    background: #F9AC52;
    text-align: center;
    margin: 0;
}

#hire-me form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#hire-me h2 {
    font-size: 30px;
}

#hire-me button {
    background: none;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    padding: 25px 75px;
    border: 3px solid #fff;
    border-radius: 10px;
    margin: 10% 0 20% 75px;
    cursor: pointer;
}

#hire-me button:active,
#hire-me button:hover {
    background: #fff;
    color: #F9AC52;
    transition: 0.15s ease-in-out;
}

#hire-me form input,
#hire-me form textarea {
    border: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
    resize: none;
}

#hire-input-fields {
    width: 40%;
}

.form-text {
    padding: 10px;
    margin: 10px 0;
    background: #fff;
}

#name,
#email,
#user-project,
form {
    width: 100%;
}

.footer {
    background: #352D39;
    width: 100%;
    margin: 0;
    padding: 3rem 0 1rem;
}

.footer p {
    color: #fff;
    padding: 0 15%;
    margin: 1rem 0 3rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer a:hover,
.footer a:active {
    text-decoration: underline;
}

.footer a:first-of-type {}

.footer img {
    max-width: 20px;
    margin: 0 5px;
}

.footer img:first-of-type {
    margin: 0 5px 0 0;
}

#social-links {
    margin: 2% 0 0;
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media-svg {
    fill: #fff;
    height: 30px;
    margin: 0 10px 0 0;
}

#copyright-notice {
    font-size: 1rem;
    margin: 1rem 0;
}


@media (max-width: 1200px) {

    nav {
        padding: 5% 3%;
        flex-direction: column;
    }

    #desktop-nav-elements {
        display: none;
    }

    #nav-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }

    .navigation-button {
        width: 90%;
        border-bottom: 2px solid #fff;
    }

    .switch {
        margin: 0;
    }

    #hamburger-icon {
        display: block;
    }

    nav button.contact {
        padding: 15px 30px;
        margin: 0;
        font-size: 20px;
    }

    nav button {
        font-size: 14px;
    }

    .portrait {
        justify-content: center;
    }

    .portrait img {
        margin: 0 0 50px;
    }

    #aboutUSPs {
        grid-template-columns: auto;
    }

    #aboutUSPs div {
        margin-bottom: 30px;
    }

    .about,
    #projects,
    #hire-me,
    #services {
        padding: 10%;
    }

    #hire-me button {
        margin: 5% 0;
    }

    #hire-form {
        flex-direction: column;
        justify-content: center;
    }

    #hire-input-fields {
        width: 100%;
    }

    .footer p,
    #social-links {
        padding: 0 10%;
    }

    .footer a {
        flex-direction: column;
        align-items: center;
        align-content: start;
        text-align: center;
        align-self: start;
    }

    .social-media-svg {
        height: 40px;
        flex: auto;
        margin: 10px 0;
    }

}

@media (max-width: 480px) {

    .project-cards {
        grid-template-columns: auto;
    }

    .project-cards {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
    }

    .r-card,
    .y-card,
    .g-card {
        max-width: 100%;
    }

}